body {
  margin: 0;
  background-color: #76BED0;
  font-family: 'Thasadith';
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: repeating-linear-gradient(
  45deg,
  #878E88,
  #878E88 5px,
  #76BED0 5px,
  #76BED0 10px
  );
  color: #FFFFFF;
  height: 40vh;
  font-weight: 700;
  font-size: 50px;
}

main {
  text-align: center;
  height: 60vh;
}

a {
  display: inline-block;
  text-decoration: none;
  background-color: crimson;
  color: #FFFFFF;
  padding: 10px;
  border-radius: 3px;
  transition: transform .4s;
}

figure {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  height: 60%;
  width: 60%;
  margin-top: 12vh;
  background-image: linear-gradient(to right, #F55D3E, #F7CB15);
}

a:hover {
  background-color: red;
  transform: scale(1.2) translate(-12%, -12%);
  box-shadow: 5px 10px 10px -2px #2F1F4C;
  color: #FFFFFF;
}
